<div class="card shadow-lg mx-4 mx-lg-5 mt-5 mb-0">
    <div class="card-header d-flex flex-row justify-content-between align-items-center">
        <h3 class="card-title">{{{title}}}</h3>
        <p class="card-subtitle align-bottom">Posted by {{{user.user_name}}} on {{{format_date created_at}}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{{content}}}
        </p>
    </div>
</div>